# Data
data/raw/
data/processed/
*.nii.gz
*.npy

# Model Checkpoints
*.pth.tar
*.pth

# Python/IDE
__pycache__/
.ipynb_checkpoints/
.venv/
.DS_Store

# Environments
venv/
env/
cardiac_env/
.venv/

# Local configuration
.env